---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=cad&card=tok_103XU22E3uvvWEu3io8sp6Ck&description=Sign%20up%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_G4b06LVZAT9qvxibT68cTihk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103XU22E3uvvWEu37XZy86pu"
          }
        }
  recorded_at: Fri, 21 Feb 2014 19:34:32 GMT
recorded_with: VCR 2.8.0
