---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103Yay2E3uvvWEu3hnXm1Ju0&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_G4b06LVZAT9qvxibT68cTihk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393267757,
          "id": "cus_3YaymAtFzRyvld",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3YaymAtFzRyvld/subscriptions",
            "data": [
              {
                "id": "sub_3YayeWqdG4eyqS",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1393265773,
                  "amount": 999,
                  "currency": "cad",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393267757,
                "status": "active",
                "customer": "cus_3YaymAtFzRyvld",
                "cancel_at_period_end": false,
                "current_period_start": 1393267757,
                "current_period_end": 1395686957,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "cad",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3YaymAtFzRyvld/cards",
            "data": [
              {
                "id": "card_103Yay2E3uvvWEu3uyZtBfPH",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "D11oQSDGNnZjNrgd",
                "customer": "cus_3YaymAtFzRyvld",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103Yay2E3uvvWEu3uyZtBfPH"
        }
  recorded_at: Mon, 24 Feb 2014 18:49:18 GMT
recorded_with: VCR 2.8.0
