---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103YbP2E3uvvWEu3ve7Flrn6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_G4b06LVZAT9qvxibT68cTihk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103YbP2E3uvvWEu3ve7Flrn6",
          "created": 1393269324,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103YbP2E3uvvWEu3Tlnr85mS",
              "object": "charge",
              "created": 1393269324,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "cad",
              "refunded": false,
              "card": {
                "id": "card_103YbP2E3uvvWEu3OwB0c2W1",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "D11oQSDGNnZjNrgd",
                "customer": "cus_3YbPOb7BQwWIwx",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103YbP2E3uvvWEu3evzY08mc",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3YbPOb7BQwWIwx",
              "invoice": "in_103YbP2E3uvvWEu3yjXIKtuS",
              "description": null,
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3YbPl8KQqS3fAo"
        }
  recorded_at: Mon, 24 Feb 2014 20:05:10 GMT
recorded_with: VCR 2.8.0
