---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_G4b06LVZAT9qvxibT68cTihk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103Yaz2E3uvvWEu3394IRioL",
          "livemode": false,
          "created": 1393267770,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103Yaz2E3uvvWEu3BSaJn3XR",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "D11oQSDGNnZjNrgd",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 24 Feb 2014 18:49:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103Yaz2E3uvvWEu3394IRioL&email=madison%40douglas.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_G4b06LVZAT9qvxibT68cTihk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393267771,
          "id": "cus_3YazTZF0NPnq3S",
          "livemode": false,
          "description": null,
          "email": "madison@douglas.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3YazTZF0NPnq3S/subscriptions",
            "data": [
              {
                "id": "sub_3YazHZU1muGmEb",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1393265773,
                  "amount": 999,
                  "currency": "cad",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393267771,
                "status": "active",
                "customer": "cus_3YazTZF0NPnq3S",
                "cancel_at_period_end": false,
                "current_period_start": 1393267771,
                "current_period_end": 1395686971,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "cad",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3YazTZF0NPnq3S/cards",
            "data": [
              {
                "id": "card_103Yaz2E3uvvWEu3BSaJn3XR",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "D11oQSDGNnZjNrgd",
                "customer": "cus_3YazTZF0NPnq3S",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103Yaz2E3uvvWEu3BSaJn3XR"
        }
  recorded_at: Mon, 24 Feb 2014 18:49:32 GMT
recorded_with: VCR 2.8.0
